HADOOP_NAMENODE_IMAGE=bde2020/hadoop-namenode
HADOOP_DATANODE_IMAGE=bde2020/hadoop-datanode
HADOOP_IMAGE_TAG=2.0.0-hadoop3.2.1-java8
HIVE_IMAGE=apache/hive
HIVE_VERSION=3.1.3
SPARK_IMAGE=apache/spark
SPARK_TAG=3.5.1-scala2.12-java11-python3-ubuntu
POSTGRES_IMAGE=postgres
POSTGRES_VERSION=14
HIVE_DB=metastore
HIVE_USER=hive
HIVE_PASSWORD=hive
HDFS_WEB_PORT=9870
HDFS_RPC_PORT=9000
HDFS_DATANODE_PORT=9864
POSTGRES_PORT=5432
HIVE_METASTORE_PORT=9083
HIVE_SERVER_PORT=10000
HIVE_WEBUI_PORT=10002
SPARK_WEBUI_PORT=8080
SPARK_MASTER_PORT=7077
SPARK_LOCAL_UI_PORT=4040
